body {
	background-image:url("https://cdn.wallpapersafari.com/20/36/QbYFZs.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Roboto Slab;
}

h1 {
	text-align: center;
	color: #051a3d;
}

#text-shadow {
	text-shadow: 1px 1px 2px black; 
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

hr {
	width: 40%;
	border-top: 2px solid #051a3d;
}
p {
	color:white;
	text-align:center;
	font-size:xx-large;
}
p.medium {
	font-size:medium;
}
form {
	color:white;
	width: 30%;
	margin: 20px auto;
	font-size: 20px;
}
label {
	margin:2px;
}

button {
	width: 120px;
	height: 40px;
}

#address {
	color:#ff1111;
	font-weight: bold;
}

#submit {
	font-weight: bold;
	font-size: 20px;
	padding-top: 0;
}