body {
	background-image:url("https://cdn.wallpapersafari.com/20/36/QbYFZs.jpg");
	background-size: cover;	
	background-repeat: no-repeat
    font-family: Lato;
    color: ghostwhite;
}

html {
	height: 100%;
}

.navbar-right {
	text-align: center;
	position: relative;
	z-index: 1
}

.dropdown-menu {
	text-align: center;
}

.dropdown-menu.dropdown-item {
		
}

span.icon-bar {
	background-color: #ffffff;
}

#content {
	text-align: center;
	padding-top: 18%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.2),
	             0px 18px 23px rgba(0,0,0,0.1);
}

#collapse {
	font-weight: bold;
	font-size: 18px;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 500px;
	border-top: 1px solid #f8f8f8;
	border-bottom: : 1px solid rgba(0,0,0,0.2);
}

#logo {
	max-width: 33%;
	max-margin-left: -60px;
	position: relative;
	z-index: 2
}

.collapsed {
	margin: auto;
}

footer {
	text-align: center;
	margin-top: 60px
